﻿@using System.Security.Claims;
@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
    var userName = (isAuthenticated) ? User.FindFirst(ClaimTypes.NameIdentifier).Value : "Misafir";
    var userId = (isAuthenticated) ? User.FindFirst(ClaimTypes.Sid).Value : "-1";
    var userRole = (isAuthenticated) ? User.FindFirst(ClaimTypes.Role).Value : "User";
    var userProfil = (isAuthenticated) ? User.FindFirst(ClaimTypes.UserData).Value : "/imagess/default.png";
} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent A Car</title>
    <meta name="description" content="Rent a car hizmetlerimizle uygun fiyatlı araçlar kiralayabilirsiniz." />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rentacar.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Rentacar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (isAuthenticated)
                        {
                            
                        <li class="nav-item">
                            <a asp-action="Profil" asp-controller="Home"  style=" text-decoration: none; color: inherit;">
                                <img src="@userProfil" style="height:20px; width:auto;" alt="User Profil" class=""><h4 id="user-name" class="text-center">@userName</h4><h4 id="user-name" class="text-center"> | @userRole</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RezervasyonUser" asp-action="Index">Rezervasyonlarım</a>
                        </li>
                        }else{

                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Login"  style=" text-decoration: none; color: inherit;">
                                    <img src="~/imagess/default.png" style="height:20px; width:auto;" alt="User Profil" class=""><h4 id="user-name" class="text-center">Giriş yap</h4><h4 id="user-name" class="text-center"> | Kayıt ol</h4>
                            </a>

                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RezervasyonUser"
                                asp-action="Araclar">Araçlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Rentacar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
