@using System.Security.Claims
@model Rentacar.Models.Rezervasyon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var extralars = ViewData["Extralar"] as List<Extralar>;
    Araclar araba = ViewBag.Arac as Araclar;
    User user = null;
    bool userIsOk = User.Identity.IsAuthenticated;
    if (userIsOk)
    {
        user = new User
                {
                    Id = int.Parse(User.FindFirst(ClaimTypes.Sid)?.Value ?? "0"),
                    Ad = User.FindFirst(ClaimTypes.Name)?.Value,
                    Soyad = User.FindFirst(ClaimTypes.Surname)?.Value,
                    Telefon = User.FindFirst(ClaimTypes.MobilePhone)?.Value,
                    Eposta = User.FindFirst(ClaimTypes.Email)?.Value
                };
    }
    DateTime startDate, finishDate;
    int gunFarki = 0;

    if (ViewData["StartDate"] != null && ViewData["FinishDate"] != null &&
        DateTime.TryParse(ViewData["StartDate"].ToString(), out startDate) &&
        DateTime.TryParse(ViewData["FinishDate"].ToString(), out finishDate))
    {
        gunFarki = (finishDate - startDate).Days;
    }
}



<div class="details-card shadow-lg p-4 bg-white rounded">
    <h4 class="section-title text-center mb-3">Araç Bilgileri</h4>
    <hr class="mb-4" />
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Resimler:</strong>
                <span class="details-content">
                    <img src="@Html.DisplayFor(model => araba.Profil)" alt="Profil Resmi" style="height:100px; width:100px;">
                    @* @{
                        foreach (var item in araba.Resims)
                        {
                            <img src="@item.Url" alt="@item.AltG" style="height:100px; width:100px;">

                        }
                    } *@
                </span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Açıklama:</strong>
                <span class="details-content">@Html.DisplayFor(model => araba.Aciklama)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Marka:</strong>
                <span class="details-content">@Html.DisplayFor(model => araba.Marka)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Model:</strong>
                <span class="details-content">@Html.DisplayFor(model => araba.Model)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Fiyat:</strong>
                <span class="details-content">@Html.DisplayFor(model => araba.Fiyat)</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Profil:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.Profil)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Motor Gücü:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.MotorGucu)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Depozito:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.Depozito)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Kilometre:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.Km)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Yakıt:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.Yakit)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Km Başına Yakıt:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.YakitKm)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Vites:</strong>
            <span class="details-content">@Html.DisplayFor(model => araba.Vites)</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="details-item">
            <strong class="details-title">Toplam Gün</strong>
            <span class="details-content">@gunFarki</span>
        </div>
    </div>
    <!-- Daha fazla detay için aynı yapıyı devam ettirin -->
</div>









<div class="field-content col-md-5 col-lg-3">



    <div class="rezervasyonalani olcu">
        <div class="rezervasyon-baslik"><i class="fa fa-car"></i> Rezervasyon Bilgisi</div>
        <form asp-controller="Payment" asp-action="Checkout" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="alisyeri"><i class="fa fa-map-marker"></i> Alış Yeri Seçiniz:</label>
                <select asp-for="AlisLokasyonId" class="form-control" asp-items="ViewBag.AlisLokasyonId"></select>
            </div>
            <div class="form-group">
                <label for="donusyeri"><i class="fa fa-map-marker"></i> Teslim Yeri Seçiniz:</label>
                <select asp-for="TeslimLokasyonId" class="form-control" asp-items="ViewBag.TeslimLokasyonId"></select>
            </div>
            <input type="hidden" value="@araba.Id" asp-for="AracId" />

            <div class="form-group">
                <label for="alistarihsaat"><i class="fa fa-calendar"></i> Alış Tarihi &amp; Saati:</label>
                <div class="row">
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">

                        <input type="date" readonly class="form-control pull-left" asp-for="StartDate" value="@ViewBag.StartDate">
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                        <input type="time" class="form-control pull-right" name="alissaat" id="asaat" value="09:00">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="finishDate"><i class="fa fa-calendar"></i> Kaskonuzu &amp; Seçiniz:</label>
                <div class="row">
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                        <input type="date" class="form-control pull-left" asp-for="FinishDate" readonly value="@ViewBag.FinishDate">
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                        <input type="time" class="form-control pull-right" name="donussaat" id="dsaat" value="09:00">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ksako"><i class="fa fa-map-marker"></i> Kasko Seçiniz:</label>
                <select asp-for="KaskoId" class="form-control" asp-items="ViewBag.Kasko"></select>
            </div>

            <div class="form-group">
                <label for="teslimtarihsaat"><i class="fa fa-gift"></i> Ekstralar / İstekler:</label>
                <div class="row">
                    @{
                        if (extralars != null || extralars.Any())
                        {
                            foreach (var item in extralars)
                            {
                                <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">
                                    <input type="checkbox" class="pull-left" name="SelectedExtralar" data-fiyat="@item.Fiyat" id="extra_@item.Id" value="@item.Id"> &nbsp; <b>@item.Ad :</b> <font color="#FF6600">@item.Fiyat <i class="fa fa-turkish-lira"></i></font>TL / Gün
                                </div>
                            }
                        }
                    }

                    <p>Toplam</p>
                    <input type="text" readonly asp-for="Fiyat" />
                </div>

            </div>
            <div class="form-group">
                <label for="teslimtarihsaat"><i class="fa  fa-user"></i> Müşteri Bilgileri:</label>
                <div class="row">
                    <input type="hidden" name="UserId" value="@(userIsOk ? user.Id :0)" asp-for="UserId" />
                    <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                        <input type="text" class="form-control pull-left" asp-for="User.Ad" value="@(userIsOk?user.Ad : "")" placeholder="Adınız">
                    </div><br><br>
                    <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                        <input type="text" class="form-control pull-left" asp-for="User.Soyad" value="@(userIsOk?user.Soyad : "")" placeholder="Soyadınız">
                    </div><br><br>



                    <div class="col-md-9 col-lg-12 col-sm-7 col-xs-7">

                        <input type="text" class="form-control pull-left" asp-for="User.Telefon" value="@(userIsOk?user.Telefon : "")" placeholder="Telefon Numaranız">
                    </div><br><br>

                    <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                        <input type="text" class="form-control pull-left" asp-for="User.Eposta" value="@(userIsOk?user.Eposta : "")" placeholder="E-Posta Adresiniz">
                    </div><br><br>

                    <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                        <input type="text" class="form-control pull-left" name="tcno" placeholder="T.C Kimlik Numaranız">
                    </div><br><br>
                    @{
                        if (!userIsOk)
                        {
                            <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                                <input type="password" class="form-control pull-left" asp-for="User.Password" placeholder="şifre oluşturun">
                            </div>

                            <br>

                            <br>
                            <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                                <input type="password" class="form-control pull-left" name="passwordAgain" placeholder="Şifre Tekrar">
                            </div>

                            <br>

                            <br>
                        }
                    }


                    <div class="col-md-7 col-lg-12 col-sm-7 col-xs-7">

                        <textarea id="edit-message" name="mesaj" class="form-control pull-left" placeholder="Notunuz Varsa Yazınız"></textarea>
                    </div><br><br>

                </div>

            </div>
            <center>
                @* <input type="hidden" name="aracid" value="1543"> *@
                <button class="btn btn-large btn-primary" type="submit">Rezervasyonu Tamamla</button>
            </center>

        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // HTML elemanlarını seç
        const toplamInput = document.querySelector("input[name='Fiyat']");
        const extralarCheckboxes = document.querySelectorAll("input[type='checkbox']");
        const alisLokasyon = document.querySelector("select[name='AlisLokasyonId']");
        const teslimLokasyon = document.querySelector("select[name='TeslimLokasyonId']");

        // ViewBag'den gelen değerler
        const gunFarki = @gunFarki;
        const aracFiyat = @araba.Fiyat;

        function getSelectedLocationPrice(selectElement) {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            if (!selectedOption) return 0;

            const optionText = selectedOption.textContent; // "Eskişehir - 123 ₺"
            const priceMatch = optionText.match(/(\d+)\s*₺/); // Fiyatı almak için regex

            return priceMatch ? parseFloat(priceMatch[1]) : 0; // Sayıya çevir ve döndür
        }

        function hesaplaToplam() {
            let toplamFiyat = gunFarki * aracFiyat; // Gün farkı * araç günlük fiyatı

            // Seçili ekstraların fiyatlarını ekle
            extralarCheckboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    toplamFiyat += parseFloat(checkbox.data-fiyat) * gunFarki;
                }
            });

            // Lokasyon fiyatlarını ekle
            toplamFiyat += getSelectedLocationPrice(alisLokasyon);
            toplamFiyat += getSelectedLocationPrice(teslimLokasyon);

            // Toplam fiyatı input'a yaz
            toplamInput.value = toplamFiyat;
        }

        // Seçim değiştikçe fiyatı güncelle
        extralarCheckboxes.forEach(checkbox => checkbox.addEventListener("change", hesaplaToplam));
        alisLokasyon.addEventListener("change", hesaplaToplam);
        teslimLokasyon.addEventListener("change", hesaplaToplam);

        // Sayfa yüklendiğinde toplamı hesapla
        hesaplaToplam();
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@if (ViewBag.CheckoutForm != null)
{
    @Html.Raw(ViewBag.CheckoutForm)
}
else
{
    <p>Form yüklenemedi.</p>
}
    