@model IEnumerable<Rentacar.Models.Araclar>

@{
    ViewData["Title"] = "Araclar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_Search", null)
<h1>Araclar</h1>
@{
    DateTime today1 = DateTime.Today.AddDays(1);
    DateTime tomorrow1 = DateTime.Today.AddDays(2);

    // ViewBag.search değişkenini Search türüne dönüştür
    Search search = ViewBag.search as Search;

    if (search?.StartDate.HasValue == true && search?.FinishDate.HasValue == true)
    {
        today1 = search.StartDate.Value;
        tomorrow1 = search.FinishDate.Value;
    }
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depozito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorGucu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depozito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorGucu)
            </td>
            <td>
                    <a asp-action="Create" asp-route-aracid="@item.Id" asp-route-today="@today1.ToString("yyyy-MM-dd")" asp-route-tomorrow="@tomorrow1.ToString("yyyy-MM-dd")">Kirala</a>
            </td>
        </tr>
}
    </tbody>
</table>
