@model IEnumerable<Rentacar.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ozelCss {
    <link rel="stylesheet" href="~/css/rezervasyon.css" asp-append-version="true" />
}

<div class="rezervasyon-container">
    <h1 class="rezervasyon-title">Rezervasyonlarım</h1>

    <div class="rezervasyon-table-wrapper">
        <table class="table rezervasyon-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.FinishDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Durum)</th>
                    <th>@Html.DisplayNameFor(model => model.Onay)</th>
                    <th>@Html.DisplayNameFor(model => model.KaskoId)</th>
                    <th>@Html.DisplayNameFor(model => model.Fiyat)</th>
                    <th>@Html.DisplayNameFor(model => model.Not)</th>
                    <th>@Html.DisplayNameFor(model => model.AlisLokasyon)</th>
                    <th>@Html.DisplayNameFor(model => model.Arac)</th>
                    <th>@Html.DisplayNameFor(model => model.TeslimLokasyon)</th>
                    <th>@Html.DisplayNameFor(model => model.User)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th>@Html.DisplayNameFor(model => model.UpdateDate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.FinishDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Durum)</td>
                        <td>@Html.DisplayFor(modelItem => item.Onay)</td>
                        <td>@Html.DisplayFor(modelItem => item.KaskoId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Fiyat)</td>
                        <td>@Html.DisplayFor(modelItem => item.Not)</td>
                        <td>@Html.DisplayFor(modelItem => item.AlisLokasyon.Ad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Arac.Marka)</td>
                        <td>@Html.DisplayFor(modelItem => item.TeslimLokasyon.Ad)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Ad)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdateDate)</td>
                        <td class="rezervasyon-actions">
                            <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
