@model Rentacar.Models.Kaskolar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kaskolar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GunlukFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GunlukFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaatlikFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaatlikFiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
