@model Rentacar.Models.User

@{
    ViewData["Title"] = "Kullanıcı Detayları";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="details-card shadow-lg p-4 bg-white rounded">
    <h4 class="section-title gradient-background  text-center mb-3 ">Kullanıcı Bilgileri</h4>
    <hr class="mb-4" />
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Ad:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Ad)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Soyad:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Soyad)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Telefon:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Telefon)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Adres:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Adres)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">E-posta:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Eposta)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Şifre:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Password)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Aktiflik Durumu:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.IsActive)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Not:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Not)</span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="details-item">
                <strong class="details-title">Rol:</strong>
                <span class="details-content">@Html.DisplayFor(model => model.Role.Id)</span>
            </div>
        </div>
    </div>
</div>

<div class="action-buttons text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-3">
        <i class="bi bi-pencil"></i> Düzenle
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Geri Dön
    </a>
</div>