@model Rentacar.Models.Araclar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Araclar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yakit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yakit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
