@model IEnumerable<Rentacar.Models.Araclar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1 class="page-header">Araçlar</h1>
<p>
    <a asp-action="Create" class="create-button">Araç Ekle</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Aciklama)</th>
                <th>@Html.DisplayNameFor(model => model.Plaka)</th>
                <th>@Html.DisplayNameFor(model => model.Marka)</th>
                <th>@Html.DisplayNameFor(model => model.Model)</th>
                <th>@Html.DisplayNameFor(model => model.Fiyat)</th>
                <th>@Html.DisplayNameFor(model => model.Durum)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="Açıklama">@Html.DisplayFor(modelItem => item.Aciklama)</td>
            <td data-label="Plaka">@Html.DisplayFor(modelItem => item.Plaka)</td>
            <td data-label="Marka">@Html.DisplayFor(modelItem => item.Marka)</td>
            <td data-label="Model">@Html.DisplayFor(modelItem => item.Model)</td>
            <td data-label="Fiyat">@Html.DisplayFor(modelItem => item.Fiyat)</td>
            <td data-label="Durum">@Html.DisplayFor(modelItem => item.Durum)</td>
            <td data-label="Aksiyonlar" class="action-buttons">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-primary">Düzenle</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info">Detaylar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Araç Sil</a>
            </td>
        </tr>
    }
</tbody>
    </table>
</div>
