@model IEnumerable<Rentacar.Models.Araclar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yakit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depozito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoruntulemeSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KiralanmaSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorGucu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YakitKm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.Profil)" alt="Profil Resmi" style="height:100px; width:100px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yakit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depozito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoruntulemeSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KiralanmaSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorGucu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YakitKm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
